:root {
  --primary-color: #2A6FE1;
  --card-color: #FFFFFF;
  --background-color: #f5f8fa;
  --text-color: #181A26;
  --contrast-text-color: #FFFFFF;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.App {
  padding-top: 4.4em;
}

.container, p, table, caption, h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}